glava {
    background-color: #b4162c;
    color: white;
    font-family: inherit ;
    position: fixed;
    width: 100%;
    height: 96px;
    left: 0px;
    top: 0px;
}
.negate-coloring:hover {
    background-color: #b4162c !important;
    
}
.navbar-redify {
    background-color: #b4162c;
    color: white;
    font-family: inherit ;
}
.aktiven {
    background-color: #680005;
}
.navbar-redify a{
    color: white;
}
.navbar-redify a:focus{
    background-color: #680005 !important;
}
.navbar-redify a:hover{
    background-color: #680005 !important;
    cursor: pointer;
}
.navbar-redify .navbar-toggle:hover {
    background-color: #680005 !important;
}
.navbar-redify .navbar-toggle {
    border-color: #680005;
    background-color: #b4162c;
}
.navbar-redify .navbar-toggle .icon-bar {
    background-color: white;
}

#signinbox {
    padding: 1em;
    position: relative;
    text-align: center;
    background-color: transparent;
}


#signupbox {
    padding: 1em;
    position: relative;
    text-align: center;
    background-color: transparent;
}

.input {
    position: relative;
    margin-bottom: 20px;
}
.signinform tr {
    margin: 3px;
}
#headerbox {
    font-size: 5em;
    position: relative;
    text-align: center;


}
sekcija {
        position: relative;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 5em;
        
        transform: translate(-50%, -50%)
}

#login-username {
    margin: 0.5em;
}
#login-password {
    margin: 0.5em;
}
#loginbutton {
    
    margin: 1em;
}


#errorMessage {
    color: red;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 1em;
    margin-top: 20px;
    display: none;

}

#errorMessage1 {
    margin-top: 20px;
    color: red;
    display: none;
}

#errorMessage2 {
    margin-top: 20px;
    color: red;
    display: none;
}



.carSelect {
    width: 15em;
    height: 2em;
    margin-bottom: 10px;
}

#resultContainer {
    position: relative;

    background-color: white;

    width: 100%;
    height: 300px;
    border-radius: 5px;
    border: 2px solid #b4162c;

}


.rob {
    border: 3px solid #b4162c;
}
.shadow {
    
}
.parentCol {
    text-align: center;
    padding: 1em;
}

.childCol {
    margin: auto;
    background-color: transparent;
    
}
.childColComments {
    text-align: left !important;
    
}
.childColComments textarea {
    margin-left: 0px !important;
    margin: 5px;
    width: 30vw;
    height: 15vh;
}
.childColComments input {
    margin-left: 0px !important;
    margin: 5px;
    width: 15vw;

}
select {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #b4162c !important;
    cursor: pointer;
    padding: 3px;

}
input {
    border: 1px solid #b4162c;
    border-radius: 3px;
    padding: 3px;
}
textarea {
    border: 1px solid #b4162c;
    padding: 3px;
}
button {
    border: 1px solid #b4162c;
    border-radius: 5px;
}

#grafPorabe {
    position: relative;
    width: 100%;
}
#signedInAs {
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 20px;
    display: block;
    
}

#prikazUserjaDropdown {
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
.dropdown-menu {
    background-color: #b4162c !important;
    color: white !important;
}
.dropdown-menu > li > a {
    color: white !important;
}
.faq-colors {
    padding: auto;
    margin: auto;
    width: 90vw;
    background-color: white !important;
    border: 1px solid #b4162c;
}
.listNaslov {
    font-size: 2em !important;
    text-align: center !important;
    background-color: #f2f2f2;
}
.zacetniNaslov {
    font-family: "Times New Roman", Times, serif;
    font-size: 4em;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    background-color: rgb(255,255,255,0.7);
    height: 100%;
}
.zacetniTekst {
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    text-align: left !important;
    margin: auto;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(255,255,255,0.7);
    height: 100%;
}
.zacetniTekst {
    font-family: "Times New Roman", Times, serif;
    text-align: left !important;
    margin: auto;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(255,255,255,0.7);
    height: 100%;
}
#naslov2 {
    text-align: left !important;
    margin-left: 1em;
}
#myCarsContainer {
    border: 1px solid #b4162c;
    background-color: white;
    text-align: left !important;
    padding-left: 0.5em;
    overflow: auto;
}
#naslov4 {
    text-align: left !important;
    margin-left: 1em;
}
#tocenja {
    border: 1px solid #b4162c;
    background-color: white;
    text-align: left !important;
    padding-left: 0.5em;
    overflow: auto;
}
#naslov3 {
    font-size: 3em;
}
.pejtLevo {
    float: right;
    margin-right: 0px;
    position: relative;
    display: block;
    top: -15px;
}
.rowCars {
    height: 1.5em;
    width: 100%;
    padding-left: 0px !important;
}
.car {
    margin: auto;
    margin-left: 0px !important;
}
#username {
    display: inline;
}
#username1 {
    display: inline;
}

#calculatorContainer {
    text-align: center;
    margin: auto;
    background-color: white;
    width: 20em;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #b4162c;
    display: inline block;
}
.naslovKalkulator {
    font-size: 1.5em;
}