extends layout
block scripts
  script(src='../javascripts/avtomobili.js', type='text/javascript')
block title
    title Avtomobili - Poraba
block login2
  li#signup.li-hover
    a(href='/signup')
      span.glyphicon.glyphicon-user
      |  Sign Up
  li#signin.li-hover
    a(href='signin')
      span.glyphicon.glyphicon-log-in
      |  Sign In
block content
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.parentCol
      .childCol
        .znotrajCol
          mixin carMixin(x)
            - var valjuX = "'" + x + "'";
            option(value=valjuX) #{x}
          mixin carModelMixin(x)
            - var modeeel = x.model;
            option(value=modeeel) #{modeeel}
          form#carSelectFrom(role='form', method='post', action='/avtomobili/pridobi')
            #izbiraznamke
              select#make.carSelect(name='znamka', method='post', action='/avtomobili/pridobi')
                option(value='') Izberite znamko
                each znak in znamke
                  +carMixin(znak)
            button#carSearchButton(type='submit') Iskanje
          form#modelSelectForm(role='form', method='post', action='/avtomobili/pridobi/letniki')
            select.carSelect(name='model')
              option(value='') Izberite model
              each modl in modeli
                +carModelMixin(modl)
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.parentCol
      .childCol
        #resultContainer
