extends layout
block scripts
block title
    title DB - Poraba
block login1
  li#prikazUserjaDropdown.li-hover.hidden-md.hidden-lg.hidden-sm
              .negate-coloring
                | Signed in as: 
                b
                  span.usernameShow
                    #username
block login2
  li#signedInAs.li-hover.hidden-xs
              .negate-coloring
                span.glyphicon.glyphicon-user
                |  Signed in as: 
                b
                  span.usernameShow
                    #username1
block block1
    li.li-hover.dropdown.negate-coloring
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img(src='../images/settings-icon.png', width='20px', height='20px')
                | Meni
              ul.dropdown-menu
                li#dodajAvtomobilLink
                  a(href='/dodajAvtoAdmin') Dodaj avtomobil v bazo
                li#dodajTocenjeLink
                  a(href='/odstraniUporabnike') Odstrani uporabnike
                li#editProfileLink
                  a(href='/urediProfil') Uredi profil
                li#odjavaLink
                  a(href='/') Odjava
block content
    form#signinform(role='form', method='post', action='/db/izbrisVseh')
        button#loginbutton(type='submit') Izbriši vse vnose v DB
    form#signinform(role='form', method='post', action='/db/dodajanjePodatkov')
        button#loginbutton(type='submit') Dodaj zacetne podatke v DB