extends layout
block scripts
  script(src='../javascripts/dodajTocenjeGoriva.js', type='text/javascript')
block title
    title Dodaj Tocenje Goriva - Poraba
block login1
  li#prikazUserjaDropdown.li-hover.hidden-md.hidden-lg.hidden-sm
    .negate-coloring
      | Signed in as: 
      b
        span.usernameShow
          #username
block login2
  li#signedInAs.li-hover.hidden-xs
   .negate-coloring
      span.glyphicon.glyphicon-user
      |  Signed in as: 
      b
       span.usernameShow
         #username1
block block1
  li.li-hover.dropdown.negate-coloring
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      img(src='../images/settings-icon.png', width='20px', height='20px')
      | Meni
    ul.dropdown-menu
      li#dodajAvtomobilLink
        a(href='/dodajAvto') Dodaj avtomobil
      li#dodajTocenjeLink
        a(href='/dodajTocenje') Dodaj točenje
       li#kalkulatorLink
        a(href='/kalkulator') Kalkulator stroškov
       li#editProfileLink
        a(href='/urediProfil') Uredi profil
       li#odjavaLink
        a(href='/') Odjava
block content
    #signinbox
      // signinbox ==> isti id kot v signin.html ===> isti css
      #headerbox
        | Dodaj točenje goriva
      .signinbody
        form#signinform(role='form', method='post')
          #izbiraDatuma
            input#datum.carSelect(type='date')
          #izbiraAvtomobila
            select#myCars.carSelect(name='myCars')
              option(value='') Izberite avtomobil
          #izbiraLitrov
            input#litri.carSelect(type='number', step='0.01', placeholder='Natočeno (v L)')
          #izbiraKilometrov
            input#kilometri.carSelect(type='number', step='0.1', placeholder='Stanje števca kilometrov')
          .poljeOstalo
            textarea#opombe.carSelect(name='opombe', placeholder='Opombe')
          button#dodajButton(type='submit') Dodaj
          #succesMessage(style='display: none; color: green;') Točenje uspešno dodano.
          #errorMessage
            | Izpolniti je potrebno vsa polja razen opomb.
            br
            | Preverite da ste vpisali smiselne vrednosti.
