extends layout  
block scripts
  script(src='../javascripts/dodajAvto.js', type='text/javascript')
block title
    title Dodaj Avto - Poraba
block login1
  li#prikazUserjaDropdown.li-hover.hidden-md.hidden-lg.hidden-sm
    .negate-coloring
      | Signed in as: 
      b
        span.usernameShow
          #username
block login2
  li#signedInAs.li-hover.hidden-xs
   .negate-coloring
      span.glyphicon.glyphicon-user
      |  Signed in as: 
      b
       span.usernameShow
         #username1
block block1
  li.li-hover.dropdown.negate-coloring
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      img(src='../images/settings-icon.png', width='20px', height='20px')
      | Meni
    ul.dropdown-menu
      li#dodajAvtomobilLink
        a(href='/dodajAvto') Dodaj avtomobil
      li#dodajTocenjeLink
        a(href='/dodajTocenje') Dodaj točenje
       li#kalkulatorLink
        a(href='/kalkulator') Kalkulator stroškov
       li#editProfileLink
        a(href='/urediProfil') Uredi profil
       li#odjavaLink
        a(href='/') Odjava
block content
    #signinbox
      #headerbox
        | Dodaj avtomobil
      .signinbody
        form#signinform(role='form', method='post', action='/dodajAvto')
          #izbiraznamke
            input#login-username(type='text', name='znamka', value=znamka, placeholder='Znamka')
          .izbiramodela
            input#login-username(type='text', name='model', value=model, placeholder='Model')
          .izbiraletnika
            input#login-username(type='text', name='letnik', value=letnik, placeholder='Letnik')
          .poljeOstalo
            input#login-username(type='text', name='lastnik', value=lastnik, placeholder='Lastnik (upor. ime)')
          button#dodajButton(type='submit') Dodaj
          
          #succesMessage(style='display: none; color: green;') Avtomobil uspešno dodan.
          #errorMessage Izbrati morate znamko, model in letnik.
