extends layout
block scripts
  script(src='../javascripts/dodajAvtoAdmin.js', type='text/javascript')
block title
    title Dodaj Avto Admin - Poraba
block login1
  li#prikazUserjaDropdown.li-hover.hidden-md.hidden-lg.hidden-sm
              .negate-coloring
                | Signed in as: 
                b
                  span.usernameShow
                    #username
block login2
  li#signedInAs.li-hover.hidden-xs
              .negate-coloring
                span.glyphicon.glyphicon-user
                |  Signed in as: 
                b
                  span.usernameShow
                    #username1
block block1
    li.li-hover.dropdown.negate-coloring
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img(src='../images/settings-icon.png', width='20px', height='20px')
                | Meni
              ul.dropdown-menu
                li#dodajAvtomobilLink
                  a(href='/dodajAvtoAdmin') Dodaj avtomobil v bazo
                li#dodajTocenjeLink
                  a(href='/odstraniUporabnike') Odstrani uporabnike
                li#editProfileLink
                  a(href='/urediProfil') Uredi profil
                li#odjavaLink
                  a(href='/') Odjava
block content
    #signinbox
      #headerbox
        | Dodaj avtomobil v bazo
      .signinbody
        form#signinform(role='form', method='post', action='')
            input#login-username(type='text', name='znamka', value=znamka, placeholder='Znamka')
            br
            input#login-password(type='text', name='model', value=model, placeholder='Model')
            br
            button#loginbutton(type='submit') Dodaj
            br
            #errorMessage