extends layout
block scripts
  script(src='../javascripts/edit_profile.js', type='text/javascript')
block title
    title Moj Profil - Poraba
block login1
  li#prikazUserjaDropdown.li-hover.hidden-md.hidden-lg.hidden-sm
    .negate-coloring
      | Signed in as: 
      b
        span.usernameShow
          #username
block login2
  li#signedInAs.li-hover.hidden-xs
   .negate-coloring
      span.glyphicon.glyphicon-user
      |  Signed in as: 
      b
       span.usernameShow
         #username1
block block1
  li.li-hover.dropdown.negate-coloring
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      img(src='../images/settings-icon.png', width='20px', height='20px')
      | Meni
    ul.dropdown-menu
      li#dodajAvtomobilLink
        a(href='/dodajAvto') Dodaj avtomobil
      li#dodajTocenjeLink
        a(href='/dodajTocenje') Dodaj točenje
       li#kalkulatorLink
        a(href='/kalkulator') Kalkulator stroškov
       li#editProfileLink
        a(href='/urediProfil') Uredi profil
       li#odjavaLink
        a(href='/') Odjava
block content
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.parentCol
      .childCol
        #naslov
          h3
            b Uredi profil
        #naslov2
          b Moji avtomobili: 
        #myCarsContainer
          #myCars
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.parentCol
      .childCol
        #naslov3
          b Spremeni geslo
        form#passwordForm(role='form', method='post')
          .input
            input#password(type='password', name='password', value='', placeholder='Geslo')
          .input
            input#passwordConfirm(type='password', name='password', value='', placeholder='Ponovi geslo')
          button#passChangeButton(type='submit') Shrani
          #errorMessage1 Izpolnite vsa polja!
          #errorMessage Gesli se ne ujemata!
          #succesMessage(style='display: none; color: green;') Geslo uspešno spremenjeno.
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.parentCol
      .childCol
        #naslov4
          b Moja točenja goriva: 
        #tocenja
