extends layout
block scripts
    script(src='../javascripts/faq.js')
block title
    title FAQ - Poraba
block login2
  li#signup.li-hover
    a(href='/signup')
      span.glyphicon.glyphicon-user
      |  Sign Up
  li#signin.li-hover
    a(href='signin')
      span.glyphicon.glyphicon-log-in
      |  Sign In
block content
    ul.list-group.faq-colors
      li.list-group-item.listNaslov
        | Pogosto zastavljena vprašanja
      li.list-group-item
        b Q: "A morem vedno natankati poln tank?"
        br
        |                   A: "Da, ker drugače ne moremo izračunati vaše porabe."
      li.list-group-item
        b Q: "Ali mi bo stran omogočila natančno izračunati porabo?"
        br
        |                   A: "Ne, stran je namenjena le približnem izračunu porabe. Za natančno izračunano porabo obstaja preveč dejavnikov."
      li.list-group-item
        b Q: "Nekaj ne dela! Kaj lahko sedaj naredim!"
        br
        |                   A: "Kontaktirate nas lahko preko EMAIL-a, podanega na podstrani 'Kontakt'."
      li.list-group-item
        b Q: "Mojega avtomobila ni na seznamu! Kako ga dodam?"
        br
        |                   A: "Če vašega vozila ni na seznamu, nam pišite na mail da ga dodamo za Vas."
      li.list-group-item
        b Q: "Stran mi je zelo všeč! Kako podprem razvijalce!"
        br
        |                   A: "Donacije so zelo dobrodošle, več informacij na mail."