extends layout
block scripts
block title
    title Poraba
block login2
  li#signup.li-hover
    a(href='/signup')
      span.glyphicon.glyphicon-user
      |  Sign Up
  li#signin.li-hover
    a(href='signin')
      span.glyphicon.glyphicon-log-in
      |  Sign In
block content
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.parentCol
      .childCol
        .zacetniNaslov
          | Dobrodošli na strani za izračun porabe!
          .rob.senca
            | Na spletni strani je registriranih ze 
            b #{stUporabnikov}
            |  uporabnikov
          .rob.senca
            | Skupno je v bazi 
            b #{stAvtomobilov}
            |  znamk vozil, nova se dodajo na zahtevo!
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.parentCol
      .childCol
        .zacetniTekst
          table
            tr
              td
                | Stran je namenjena vsem, ki jih zanima poraba njihovega vozila. Na preprost in hiter način pridobite podatke o Vaših vozilih, dodate novo vozilo ali točenje, vse skupaj pa prikažete z 
                | grafom.
              td 
                img(src='../images/mainmenupump.jpg' width='400vw' style='float:left; border-radius: 5px')
            tr
              td
                img(src='../images/mainmenupump2.jpg' width='400vw' style='float:left; border-radius: 5px')
              td
                |                   Za pričetek uporabe vseh funkcij strani se je najprej treba registrirati. Registracija je preprosta, prične pa se z klikom na gumb 'Sign up' v zgornjem desnem kotu.
                br
                |                   Za informacija o pogostih vprašanjih ali kontaktne podatke sta na voljo tudi strani 'FAQ' in 'Kontakt'.
                br
                b Želimo vam prijetno uporabo strani!
              
                
          
          
          
