extends layout
block scripts
  script(src='../javascripts/plotly-latest.min.js', type='text/javascript')
  script(src='../javascripts/index-signedin.js', type='text/javascript')
block title
    title Home - Poraba
block login1
  li#prikazUserjaDropdown.li-hover.hidden-md.hidden-lg.hidden-sm
    .negate-coloring
      | Signed in as: 
      b
        span.usernameShow
          #username
block login2
  li#signedInAs.li-hover.hidden-xs
   .negate-coloring
      span.glyphicon.glyphicon-user
      |  Signed in as: 
      b
       span.usernameShow
         #username1
block block1
  li.li-hover.dropdown.negate-coloring
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      img(src='../images/settings-icon.png', width='20px', height='20px')
      | Meni
    ul.dropdown-menu
      li#dodajAvtomobilLink
        a(href='/dodajAvto') Dodaj avtomobil
      li#dodajTocenjeLink
        a(href='/dodajTocenje') Dodaj točenje
       li#kalkulatorLink
        a(href='/kalkulator') Kalkulator stroškov
       li#editProfileLink
        a(href='/urediProfil') Uredi profil
       li#odjavaLink
        a(href='/') Odjava
block content
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.parentCol
      .childCol
        div
          h3
            b Moj avto: 
          form#signinform(role='form', method='post', action='/home/poslji')
            input(type='text', name='username', value=username, placeholder='Uporabniško ime')
            button#loginbutton(type='submit') Pridobi avte
          select#myCarSelect.carSelect(name='mojavto')
            option(value='') Izberite avto
            - vozila = vozila.sort();
            each car in vozila
              - console.log(car);
              - var znamka = car.znamka;
              - var model = car.model;
              - var letnik = car.letnik;
              option(value=znamka) #{znamka} #{model} #{letnik}
          #povprecnaPoraba
          button#dodajTocenjeGoriva(type='button', style='display: none;') Dodaj točenje goriva
          button#dodajAvtomobil(type='button') Dodaj avtomobil
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.parentCol
      .childCol
        #grafPorabe
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.parentCol
      .childColComments
        #komentarji
        #addComment
        table
          tr
            td
              button#dodajKomentarButton(type='submit', style='display: none;') Dodaj komentar
            td
              #errorMessage Prosim izpolnite vsa polja.
