extends layout
block scripts
  script(src='../javascripts/kalkulator.js', type='text/javascript')
block title
    title Kalkulator Stroškov - Poraba
block login1
  li#prikazUserjaDropdown.li-hover.hidden-md.hidden-lg.hidden-sm
    .negate-coloring
      | Signed in as: 
      b
        span.usernameShow
          #username
block login2
  li#signedInAs.li-hover.hidden-xs
   .negate-coloring
      span.glyphicon.glyphicon-user
      |  Signed in as: 
      b
       span.usernameShow
         #username1
block block1
  li.li-hover.dropdown.negate-coloring
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      img(src='../images/settings-icon.png', width='20px', height='20px')
      | Meni
    ul.dropdown-menu
      li#dodajAvtomobilLink
        a(href='/dodajAvto') Dodaj avtomobil
      li#dodajTocenjeLink
        a(href='/dodajTocenje') Dodaj točenje
       li#kalkulatorLink
        a(href='/kalkulator') Kalkulator stroškov
       li#editProfileLink
        a(href='/urediProfil') Uredi profil
       li#odjavaLink
        a(href='/') Odjava
block content
    #calculatorContainer
      #naslov.naslovKalkulator
        b
        | Kalkulator stroškov
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        | Avtomobil:
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        select#myCarSelect.carSelect(name='mojavto')
          option(value='') Izberite avto
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        | Dolžina poti (v km):
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        input#kilometri.carSelect(type='number', step='0.1', placeholder='')
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        | Tip goriva:
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        select#petrolType.carSelect(name='petrol')
          option(value='1') Bencin
          option(value='2') Dizel
          option(value='3') LPG
      button#izracunaj(type='submit') Izračunaj
      #errorMessage Izpolniti morate vsa polja z smiselnimi podatki.
      #result
