extends layout
block scripts
block title
    title Kontakt - Poraba
block login2
  li#signup.li-hover
    a(href='/signup')
      span.glyphicon.glyphicon-user
      |  Sign Up
  li#signin.li-hover
    a(href='signin')
      span.glyphicon.glyphicon-log-in
      |  Sign In
block content
    ul.list-group.faq-colors
     li.list-group-item.listNaslov
        | Kontaktirate nas lahko na mail:
      li.list-group-item
        b Domen Vidmar
        | , študent računalništva in informatike:
        br
        b dv9376@student.uni-lj.si
      li.list-group-item
        b Luka Bračun
        | , študent računalništva in informatike:
        br
        b lb5480@student.uni-lj.si