html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='../stylesheets/style.css')
    script(src='../javascripts/header.js', type='text/javascript')
    block scripts
      
    block title
        title Poraba
  body(background='../images/opacityBg.png')
    // HEAD
    nav.navbar.navbar-redify
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand.negate-coloring Poraba
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            block login1
            li#domov.li-hover
              a(href='/') Domov
            li#avtomobili.li-hover
              a(href='/avtomobili') Avtomobili
            li#faq.li-hover
              a(href='/faq') FAQ
            li#kontakt.li-hover
              a(href='/kontakt') Kontakt
          ul.nav.navbar-nav.navbar-right
            block login2
            li.li-hover
              a(href='#')
                img(src='../images/search-icon.png', width='20px', height='20px')
                | Išči
            block block1
    block content