extends layout
block scripts
  script(src='../javascripts/signin.js', type='text/javascript')
block title
    title Sign In - Poraba
block login2
  li#signup.li-hover
    a(href='/signup')
      span.glyphicon.glyphicon-user
      |  Sign Up
  li#signin.li-hover
    a(href='signin')
      span.glyphicon.glyphicon-log-in
      |  Sign In
block content
    sekcija
      #signinbox
        #headerbox
          | Sign in
        .signinbody
          - var formClasses = (error ? 'has-error' : '')
          form#signinform(role='form', method='post', action='/login' class=formClasses)
            input#login-username(type='text', name='username', value=username, placeholder='Uporabniško ime')
            br
            input#login-password(type='password', name='password', value=password, placeholder='Geslo')
            br
            button#loginbutton(type='submit') Sign in
            br
            if(error)
              #errorMessagee


