extends layout
block scripts
  script(src='../javascripts/signup.js', type='text/javascript')
block title
    title Sign Up - Poraba
block login2
  li#signup.li-hover
    a(href='/signup')
      span.glyphicon.glyphicon-user
      |  Sign Up
  li#signin.li-hover
    a(href='signin')
      span.glyphicon.glyphicon-log-in
      |  Sign In
block content
    sekcija
      #signupbox
        #headerbox Sign up
        .signinbody
          form#signinform(role='form', method='post', action='')
            .input
              input#signup-username(type='text', name='username', value=username, placeholder='Uporabniško ime', required='')
            .input
              input#signup-email(type='email', name='email', value=email, placeholder='E-mail', required='true')
            .input
              input#signup-password(type='password', name='password', value=password, placeholder='Geslo', required='')
            .input
              input#signup-password-confirm(type='password', name='password', value=password2, placeholder='Ponovi geslo', required='')
            button#loginbutton(type='submit') Sign up
            #errorMessage
